<div class="content">
  <div class="buttons">
    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Add New
      Project</button>
    <div *ngIf="todoId != undefined">
      <button type="button" class="btn btn-danger" data-toggle="modal" (click)="deleteTodoList()">Delete Selected
        Project</button>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">Add New
        Task</button>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin: auto;">
    <div class="card-header">
      <h3>Projects</h3>
    </div>
    <ul class="list-group list-group-flush projects">
      <li class="list-group-item" *ngFor="let item of todolists" (click)="selectTodo(item.id)">{{item.name}}</li>
    </ul>
  </div>

  <div class="body">

    <div class="cont card">
      <h3>Tasks</h3>
      <ul class="tasks list-group list-group-flush">
        <li class="list-group-item" *ngFor="let task of tasks" [class.selected]="task === selectedTask"
          (click)="onSelect(task)">
          <span class="badge">{{task.id}}</span> {{task.name}}
        </li>
      </ul>
    </div>

    <div class="cont card">
      <h3>Progress</h3>
      <ul class="tasks list-group list-group-flush">
        <li class="list-group-item" *ngFor="let task of progress" [class.selected]="task === selectedTask"
          (click)="onSelect(task)">
          <span class="badge">{{task.id}}</span> {{task.name}}
        </li>
      </ul>
    </div>

    <div class="cont card">
      <h3>Completed</h3>
      <ul class="tasks list-group list-group-flush">
        <li class="list-group-item" *ngFor="let task of completed" [class.selected]="task === selectedTask"
          (click)="onSelect(task)">
          <span class="badge">{{task.id}}</span> {{task.name}}
        </li>
      </ul>
    </div>

  </div>

  <div class="card info" *ngIf="selectedTask">

    <div class="card-header">
      {{selectedTask.name | uppercase}} Details
    </div>
    <div class="card-body">
      <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
          İşlemler
        </button>
      </p>
      <div class="collapse" id="collapseExample">

        <button class="btn btn-primary bttns" type="button" (click)="updateTask('task')">
          Send to Tasks
        </button>
        <button class="btn btn-primary bttns" type="button" (click)="updateTask('progress')">
          Send to Progress
        </button>
        <button class="btn btn-primary bttns" type="button" (click)="updateTask('completed')">
          Send to Completed
        </button>

      </div>

      <h5 class="card-title"><b>Id:</b> {{selectedTask.id}}</h5>
      <p class="card-text"><b>Title:</b> {{selectedTask.name}}</p>
      <p class="card-text"><b>Description:</b> {{selectedTask.description}}</p>
      <p class="card-text"><b>Created Date:</b> {{selectedTask.createTime}}</p>
      <p class="card-text"><b>Dead Line:</b> {{selectedTask.deadLine}}</p>
    </div>
  </div>

</div>

<!-- New Project Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Project Name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createTodoList()">Save
          Project</button>
      </div>
    </div>
  </div>
</div>

<!-- New Task Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal2Label">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="relatedtask">Related Task</label>
            <select class="form-control" formControlName="relatedtask" id="relatedtask"
              [ngClass]="{ 'is-invalid': submitted && f.relatedtask.errors }">
              <option value="null"></option>
              <option *ngFor="let item of todos" value="{{item.id}}">{{item.name}}</option>
            </select>
            <div *ngIf="submitted && f.relatedtask.errors" class="invalid-feedback">
              <div *ngIf="f.relatedtask.errors.required">Related Task is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
          </div>


          <div class="form-group">
            <label for="description" style="display: block;">End Date</label>
            <ngb-datepicker #dp (navigate)="date = $event.next" formControlName="enddate" [(ngModel)]="enddate">
            </ngb-datepicker>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createTask()">Save Project</button>
      </div>
    </div>
  </div>
</div>